<div class="float-right">
  <%= image_tag("castle.png", alt: "castle bouncer") %>
</div>
<h1>Michiana's home for bounce house rentals</h1>
<p>Playtime Jumpers is a family owned and operated inflatable bounce house
rental company. Located between Elkhart and Granger, our service areas include:</p>
<div class="cityList">
  <table>
    <tr>
      <td>Bristol</td>
      <td>Nappanee</td>
      <td>Granger</td>
    </tr>
    <tr>
      <td>Niles</td>
      <td>Edwardsburg</td>
      <td>Osceola</td>
    </tr>
    <tr>
      <td>Elkhart</td>
      <td>South Bend</td>
      <td>Middlebury</td>
    </tr>
    <tr>
      <td>Wakarusa</td>
      <td>Mishawaka</td>
    </tr>
  </table>
</div>
<p>We specialize in providing bounce houses, jumpers, bouncer/slides and 
slip-n-slides for you backyard parties. We are your #1 source for familiy fun
parties, family reunions, company picnics or church events. Let us provide your
children with hours of safe & active fun at your next event.</p>

<div class="float-left">
  <%= image_tag("sports.png", alt: "sports bouncer") %>
</div>
<h3>Quality, safe, and affordable fun for all</h3>
<p>We provide only quality, affordable inflatable bouncy castles. We are a
family-owned and operated company looking forward to providing your friends and
family a safe but eventful party or event. For all your party needs, we can
provide a fun and exciting addition. Great customer service along with a great
bouncer design guarantee a top notch party.</p>

<h3>Bouncers, jumpers, bounce houses, moonwalks</h3>
<p>We have several designs to choose from. Whether your child is into sports,
dreaming of living in a castle in a far away land, just wants to monkey around,
slide out of a hot air balloon, or fly down a water soaker slip-n-slide, we
have the moonwalk for you.</p>
