/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header {
  width: 100%;
  /*background-color: red;*/
  margin: 0 auto;
  min-height: 200px;
  /*border-style: solid;
  border-color: black;
  border-width: thick;*/
}

#banner {
  width: 40%;
  margin: 0 auto;
  padding-top: 10px;
}

#nav {
  margin: top: 250px;
}

#nav ul {
  margin: 0 auto;
  width: 55%;
}

#nav li {
  display: inline;
  padding: 5px;
}

body {
  background-color: #C4B6BB;
}

#main-content {
  max-width: 65%;
  margin: 0 auto;
  background-color: white;
  margin-top: 25px;
  padding: 25px;
}

#main-content h1 {
  font-size: 2em;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
  padding: 3px;
}

#main-content h3 {
  font-size: 1.25em;
  font-weight: bold;
  padding: 3px;
}

#main-content p {
  padding: 5px;
}

#main-content ul {
  padding: 5px;
}

h3 {
  red;
  50px;
}

.float-left {
  float: left;
  background-color: #C4B6BB;
  margin: 8px;
}

.float-right{
  float: right;
  background-color: #C4B6BB;
  margin: 8px;
}

.cityList {
  padding: 25px 0px;
}

.cityList td {
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.cityList tr {
}
